h1 {
    color: blue;
}

h2 {
    color: blue;
}

p {
    color: gray;
    font-size: 16px;
}

.subtitulo {
    color: green;
    font-style: oblique;
}

#intro {
    background-color: lightyellow;
    padding: 15px;
}

.tarjeta {
    border: 10px;
    border-color: gray;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s ease;
}

button:hover {
    background-color: darkblue;
} 